body {
  margin: 0;
  padding: 0;
  margin-left: -1.5em;
}

.navbar {
  position: fixed;
  top: auto;
  left: 4%;
  width: 15%;
  height: 100%;
  background-color: #ecf1ea;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  padding: 3%;
  text-align: left;
  font-size: 1.5vw;
}

.navbar ul li a {
  text-decoration: none;
  color: gray;
}

.navbar ul li.active a {
  color: black;
}

.art-circle {
  margin: 4.112808460634548vw left;
  width:  11.750881316098708vw;
  height:  11.750881316098708vw;
  margin-left: 0;
  margin-bottom: 1.8801410105757932vw;
  margin-top: 7.050528789659224vw;
  background-color: black;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 10.575793184488838vw;
  font-size: 5.875440658049354vw;
}

.main-content {
  margin-left: 25%;
  padding: 1%;
}

#page-title {
  font-size: 3vw;
  text-align: left;
}

#gallery, .figure-drawings-gallery, .water-color-gallery, .in-progress-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  padding: 2%;
}

#gallery img, .figure-drawings-gallery img, .water-color-gallery img, .in-progress-gallery img {
  width: 80%;
  height: auto;
  cursor: pointer;
  position: relative;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 105%;
  height: 105%;
  background-color: rgba(0,0,0,0.7);
}

#largeImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.drawing-name {
  text-align: left;
  padding: 0.9400705052878966vw;
  background-color: #ecf1ea;
}

html {
  scroll-behavior: smooth;
}

#page-title {
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: 0.4700352526439483vw;
  margin-left: 1.5vw;
  margin-bottom: 0em;
}

.special-img {
  width: 80%;
  height: auto;
  margin-left: 1.5vw;
  margin-top: 3%;
}

.special-paragraph {
  font-size: 2vw;
  font-weight: bold;
  color: #555;
  margin-top: 3%;
  margin-left: 3%;
  line-height: 1.5;
}

.water-color-gallery img {
  width: 80%;
  height: auto;
  margin: 0;
  margin-bottom: -1.50881316098707vw;
}

.figure-drawings-gallery img {
  width: 80%;
  height: auto;
  margin: 0;
  margin-bottom: -4.50881316098707vw;
}

.in-progress-gallery img {
  width: 80%;
  height: auto;
  margin: 0;
}

.figure-drawings-gallery img:hover,
.in-progress-gallery img:hover,
.water-color-gallery img:hover {
  filter: brightness(20%);
}

/* Add this to make the hovered field purple */
.navbar ul li a:hover {
  color: rgb(227, 79, 165);
}

/* Initially set all links to gray */
.navbar ul li a {
  color: rgb(177, 174, 174);
}

/* Set the active link to black */
.navbar ul li.active a {
  color: black;
}


body {
  background-color:  #ecf1ea;
}

@media (max-width: 768px) {
  body {
    background-color: #ecf1ea;
    margin: 0;
    padding: 0;
    margin-left: -2.8202115158636896vw;
  }
  .navbar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .main-content {
    margin-left: 0;
    padding: 1.8801410105757932vw;
  }
  #gallery img, .figure-drawings-gallery img, .water-color-gallery img, .in-progress-gallery img {
    width: 100%;
  }
}
