/* General Styles */
body {
  background-color: #ecf1ea;  /* Off-white / cream background */
  margin: 0;
  padding: 0;
  margin-left: 100px;
}

/* Navbar */
.navbar {
  position: fixed;
  top: auto;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #ecf1ea;  /* Background color of navigation panel */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  padding: 16px;
  text-align:  left;
  font-size: 20px;
  margin-left: 50px;
}

.navbar ul li a {
  text-decoration: none;  /* Remove underline */
  color: gray;  /* Gray text */
}

.navbar ul li.active a {
  color: black;  /* Black text for active page */
}

/* Art Circle in Navbar */
.art-circle {
  margin: 35px left;
  width: 100px;
  height: 100px;
  margin-left: 60px;
  margin-bottom: 50px;
  margin-top: 60px;
  background-color: black;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 90px;
  font-size: 50px;
}

/* Main Content */
.main-content {
  margin-left: 200px;  /* To make room for the navigation panel */
  padding: 20px;
}

/* Page Title */
#page-title {
  font-size: 60px;
  text-align: left;  /* Center align text */
}

/* Gallery Grid */
#gallery {
  display: grid;
  grid-template-columns: 1fr;  /* 1 column */
  gap: 20px;
  padding: 20px;
}

#gallery img {
  width: 80%;
  height: auto;
  cursor: pointer;
  position: relative;
}

/* Popup */
#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

#largeImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.drawing-name {
  text-align: left;
  padding: 8px;
  background-color: #ecf1ea(255, 255, 255, 0.8);
}

html {
  scroll-behavior: smooth;
}

#page-title {
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: 4px;  /* Adjust as needed */
  margin-left: 20px;
}

.special-img {
  width: 80%;  /* Or whatever width you want thi s is mypic */
  height: auto;  /* Maintain aspect ratio */
  margin-left: 20px;
}

/*paragraph for home page*/
.special-paragraph {
  font-size: 26px;
  font-weight: bold;
  color: #555;
  margin-top: 20px;
  margin-left: 20px;
  line-height: 1.5;
}
